.nav{
    display: flex;
    align-items: center;
    min-height: 10rem;
    background-color: aliceblue;
    justify-content: flex-end;
}

.logo{
    flex-basis: 50%;
    background-color: aqua;
}

.item{
    color: black;
}

.items{
    flex-basis: 50%;
    background-color: rgb(255, 214, 214);
}